#register{
    background-color: rgb(43, 39, 39);
    color: white;
    text-align: center;
   justify-content: center;
   padding: 90px;
   text-decoration: none;
}
form,input,button{
    margin-top: 10px;
  padding: 10px 30px;
  background-color: rgb(43, 39, 39);
  color: white;
  
}
button{
    background-color: red;
    color: white;
    border: 0px;
    padding: 10px 50px;
}
p{
    margin-left: 30px;
    
}
button:hover{
    color:#fff;
    cursor: pointer;
}
a{
    color: white;
}